<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'buttons.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'dbtable.css') }}">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript">   
$(document).ready(function () {
    {% if data.active is defined %}
    $('{{ data.active }}').addClass('current');
    {% endif %}
    $(".MENUITEM").mouseup(function(e) {
        var toks = $(this).attr("ID").split("-");
        console.log(toks[1]);
        //redirect example
        //window.location.href = "{{ url_for('index') }}"
        window.location.href = "/" + toks[1];
    });
});
</script> 
</head>

<body>
{% if data.info is defined %}
{{ data.info }}
{% endif %}
<div id=MENUBAR>
{% if data.menu == 'main' %}
    <button class=MENUITEM id=CMD-variables>Variables</button>
    <button class=MENUITEM id=CMD-sessions>Sessions</button>
    <!--
    <button class=MENUITEM id=CMD-F3>button 3</button>
    <button class=MENUITEM id=CMD-F4>button 4</button>
    -->
{% endif %}
{% if data.menu == 'variables' %}
    <button class=MENUITEM id=CMD->HOME</button>
    <button class=MENUITEM id=CMD-varlist>List</button>
    <button class=MENUITEM id=CMD-newvar>New</button>
{% endif %}
{% if data.menu == 'sessions' %}
    <button class=MENUITEM id=CMD->HOME</button>
    <button class=MENUITEM id=CMD-setsession>New session</button>
    <button class=MENUITEM id=CMD-mysessions>My sessions</button>
{% endif %}
</div>

<div id=CONTENTAREA>
{% block CONTENTAREA %}
<p>Deafut text that should never be visible</p>
{% endblock %}
</DIV>
</body>
</html>