{% extends "base.html" %}

{% block LOCALJS %}
<script type="text/javascript">
function run_local() {
    $(".SESSION_ACT").mouseup(function(e) {
        var toks = $(this).attr("ID").split("-");
        if (toks[2] == 'ACTIV') {
            $.get("/getsession/" + toks[1], function(result) {
                setCookie('session_id',result,1);
                window.location.href = "/varlist"
            });
        }
        if (toks[2] == 'DEL') {
            $.get("/delsession/" + toks[1], function(result) {
                setCookie('session_id','',-1);
                console.log(result);
                window.location.href = "/" + result; //it returns the page to redirect to
            });
        }
    });
}
</script>
{% endblock %}

{% block CONTENTAREA %}
<h2>Select the session you want to activate</h2>
{% for line in data.rows %}
    <div class=DBROW>
    {% for n in range(2) %}
        <div class=DBFIELD style="width: {{ data.widths[n] }}px" id=FLD-{{ data.names[n] }} >
            <span>{{ line[n] }}</span>
        </div>
    {% endfor %}
    <div class=DBFIELD>
        <button class=SESSION_ACT id=BUT-{{ line[0] }}-ACTIV>Activate</button>
        <button class=SESSION_ACT id=BUT-{{ line[0] }}-DEL>Delete</button>
    </div>
    </div>
{% endfor %}
{% endblock %}