{% extends "base.html" %}
{% block LOCALJS %}
<script type="text/javascript">   
function run_local() {
    $(".FRM_EDITABLE").change(function(e) {
        var toks = $(this).attr("ID").split("-");
        $(this).addClass("ITEM_EDITED");
        $.ajax({
            type : 'POST',
            url : "{{url_for('updatedb')}}",
            data : {'table': 'myvar', 'field': toks[1],
                    'value': $(this).val(),
                    'rowid': toks[2],
                    'itemid': $(this).attr("ID") },
            success: function(data) {
                console.log(data);
                $("#" + data).removeClass("ITEM_EDITED");
            }
        });
        
    });
    $('.get-button').click(function() {
        // Get the value of the button
        var buttonValue = $(this).val();
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val(buttonValue).select();
        document.execCommand("copy");
        $temp.remove();
        alert('Link copied to clipboard: \n' + buttonValue);
    });


}
</script>
{% endblock %}



{% block CONTENTAREA %}
<h2>Variables set for session <font color=green>{{ data.prittyname }}</font></h2>
{% for line in data.rows %}
    <div class=DBROW>
    {% for n in range(4) %}
        <div class=DBFIELD style="width: {{ data.widths[n] }}px" name=FLD-{{ data.names[n] }} >
            {% if data.formelements[n] == 'text' %}
            <span id=FLD-{{ data.names[n] }}-{{ line[0] }}>{{ line[n] }}</span>
            {% endif %}
            {% if data.formelements[n] == 'input' %}
            <input type=text style="width: {{ data.widths[n] }}px" id=FLD-{{ data.names[n] }}-{{ line[0] }} class=FRM_EDITABLE value="{{ line[n] }}">
            {% endif %}
        </div>
        
    {% endfor %}
    <button class="get-button" value = "{{ url_for('getvar', session_id = data.session , varname = line[2], _external=True) }}">GET</button>
    <button class="get-button" value = "{{ url_for('putvar', session_id = data.session , varname = line[2], varvalue = "a_value",  _external=True) }}">PUT</button>
    </div>
{% endfor %}
{% endblock %}
